doctype html
html(lang="en")
  head
    title= title
  body
    h1 Request header parser microservice API
    p
        | User stories:
        ul
            li 
                | I can get the IP address, language and operating system for my browser.
    
    p
        | Example usage:
        ul
            li
                | https://my-api/whoami
    
    p    
        | Example output:
        ul
            li
                | {"ip":"172.12.12.12","language":"en-US","software":"Mac OS"}
                
    p
        | (Note: my-api is the app root url address)